# ======================
# Application Settings
# ======================
APP_ENV = developement                # Application enviroment (developement | staging | test | production)             
PROJECT_NAME = "Web Assistant"       # Human readable project name
VERSION = 1.0.0                      # current version of prject
DEBUG = True                         # Enable debug mode in logging, disable it (in production)
PROJECT_ROOT = "root/project" # project path